<a href="https://colab.research.google.com/github/AliZare76/Heart-Attack-Chance/blob/main/Heart_Attack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Heart Attack Chance; EDA and Prediction

---

Data Dictionary:


*   `age` : Age of the patient
*   `sex` - Sex of the patient
*   `cp` - Chest pain type ~ 0=Typical Angina, 1=Atypical Angina, 2=Non-anginal Pain, 3=Asymptomatic
* `trtbps` - Resting blood pressure (in mm Hg)
* `chol` - Cholestoral in mg/dl
*`fbs` - (fasting blood sugar > 120 mg/dl) ~ 1 = True, 0 = False
*`restecg` - Resting electrocardiographic results ~ 0=Normal, 1=ST-T wave normality, 2=Left ventricular hypertrophy
*`thalachh`  - Maximum heart rate achieved
*`oldpeak` - Previous peak
*`slp` - Slope
*`caa` - Number of major vessels 
*`thall` - Thalium Stress Test result ~ (0,3)
*`exng` - Exercise induced angina ~ 1 = Yes, 0 = No
*`output` - Target variable

**Task**

> To perform EDA and predict if a person is prone to a heart attack or not.

**Packages**

In [6]:
import numpy as np
import pandas as pd
import matplotlip as plt
import seaborn as sns
import matplotlip as plt
import warnings
warnings.filterwarnings("ignore")

In [7]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/heart.csv')

In [9]:
print('Data dementions are :' , df.shape)

Data dementions are : (303, 14)

Data Undrestanding :

In [10]:
df.head(10)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

Missing Values :

In [11]:
df.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

Separating the columns in categorical and continuous :

In [12]:
cat_cols = ['sex','exng','caa','cp','fbs','restecg','slp','thall']
con_cols = ["age","trtbps","chol","thalachh","oldpeak"]
target_col = ["output"]
print("The categorial cols are : ", cat_cols)
print("The continuous cols are : ", con_cols)
print("The target variable is :  ", target_col)

The categorial cols are :  ['sex', 'exng', 'caa', 'cp', 'fbs', 'restecg', 'slp', 'thall']
The continuous cols are :  ['age', 'trtbps', 'chol', 'thalachh', 'oldpeak']
The target variable is :   ['output']

In [14]:
df[con_cols].describe().transpose()

          count        mean        std    min    25%    50%    75%    max
age       303.0   54.366337   9.082101   29.0   47.5   55.0   61.0   77.0
trtbps    303.0  131.623762  17.538143   94.0  120.0  130.0  140.0  200.0
chol      303.0  246.264026  51.830751  126.0  211.0  240.0  274.5  564.0
thalachh  303.0  149.646865  22.905161   71.0  133.5  153.0  166.0  202.0
oldpeak   303.0    1.039604   1.161075    0.0    0.0    0.8    1.6    6.2